/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #edf1e8;
    body, html{
    height:10%;
    margin:0;
    display:flex;
    justify-content:
center;
align-items:center;
    }
.container {
    text-align:center;
}
.centered-image{
    max-width:10%;
    max-height:10%
}}
header {
    background-color: #f3bf15;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #f3bf15;
    color: #797474;
    padding: 10px;
    text-align: center;
}

/* Form styles */
form {
    width: 40%;
    margin: 0;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #cddb0f;
}
table {
    border-collapse: collapse;
    width: 50%;
  }
  
  th, td {
    text-align: left;
    padding: 4px;
    border: 1px solid black;
  }
  
  th {
    background-color: #f2f2f2;
  }
  